<h1>
<p><?php
echo $this->Html->image($posts['Post']['image'],array('width'=>'100px','high'=>'100px'));
echo "<br>";
?>
	<small>
Title:
	<?php 
		echo ($posts['Post']['title']);
	?>
	</small>
</p>

<p>
	<small>
Body:
	<?php 
		echo ($posts['Post']['body']);
	?>
	</small>
</p>

<p>
	<small>
		Created:<?php
		echo $posts['Post']['created'];
		?>	
	</small>
</p>

<p>
	<small>
		Modified:<?php
		echo $posts['Post']['modified'];
		?>	
	</small>

</p>
	<?php
	echo "\n";
	
	echo $this->Form->button('Back',array('type'=>'button',
	'onclick'=>'location.href=\'/index.php/posts/\';',
		)
	);

	?>
</p>
<h2><?php __('Post Details');?>
<h4>

<?php
 $Username=$_SESSION['Auth']['User']['username'];
 
	foreach($posts['Comment']as $comment)
	{    echo"<table>";
	     echo"<tr>";
	     echo"<td>";
	     if($comment['image']!='null')
	     {
	     echo $this->Html->image($comment['image'],array('width'=>'50x','high'=>'50px'));
		 }	
	     echo $comment['name'];
	     echo '&nbsp&nbsp&nbsp&nbsp';
		 echo "written by";
		 echo '&nbsp&nbsp&nbsp&nbsp';
		 echo $comment['comment']; 
		 echo '&nbsp&nbsp&nbsp&nbsp';
			if($Username==$comment['name'])
			{
				echo $this->Html->link('Edit',array('controller'=>'posts','action'=>'editcomment',$comment['id'],$comment['foreign_id']));
				echo '&nbsp&nbsp&nbsp&nbsp';
       			echo $this->Form->postLink('Delete',array('controller'=>'posts','action'=>'deleteComment',$comment['id'],$comment['foreign_id']),
													array('confirm'=>'Are u sure')
										  );

			    echo"</td>";
		    }

			echo"<table>";
			echo'<br/>';

	}
?>
</h4>
<?php

echo $this->form->create('Comment',array('url'=>array('controller'=>'posts',
						'action'=>'viewcomment',
						$posts['Post']['id']
						),'enctype'=>'multipart/form-data','type'=>'file'
					));

echo $this->form->input('image',array('type'=>'file'));




?>
<fieldset>
	<legend>
		<?php 
		__('Add Comment');?>

	</legend>
	<?php
	echo  $this->form->input('Comment.comment');
	?>
</fieldset>
<?php
echo $this->form->end('Submit');
?>
