<div class="users form">
<?php //echo $this->Session->render('auth'); ?>
<?php echo $this->Form->create('User'); ?>
    <fieldset>
        <legend>
            <?php echo __('Please enter your username and password'); ?>
        </legend>
        <?php 
        echo $this->Form->input('username');
        echo $this->Form->input('password');
    ?>
    </fieldset>
<?php echo $this->Form->end(__('Login'),array('controller'=>'posts','action'=>'index')); ?>
</div>
<?php
echo $this->Html->link( "Add A New User",   array('action'=>'add') );
